= simple_form_for([@project, :settings, @form]) do |f|
  = f.error_notification


  = f.input :user_id, collection: [User.find(@form.user_id)],
            input_html: { data: { :'resource-path' => users_path,
                                  :'search-field' => '["name", "email"]',
                                  :'option-tpl' => 'option-user'},
                          disabled: @form.user_id.present? }

  = f.input :project_role_id, collection: [ProjectRole.find(@form.project_role_id)],
            input_html: { data: { :'resource-path' => project_settings_roles_path( @project ),
                                  :'search-field'  => '["name"]',
                                  :'option-tpl' => 'option-default',
                                  :'item-tpl'   => 'item-default',
                                  :'add-new'    => true }}

  = f.button :submit
