= link_to path<<"#editable_comment#{comment.id}", class: "ui green icon button basic right floated" ,style: "margin:-7px auto -7px 5px; color: green;" do
  = t('action.target.go_to', target: t('project.comments')) 
  i.right.arrow.icon