- if @attachment.errors.blank?
  - resource_type = @attachment.type.underscore.downcase
  - resource_count = @project.reload.send("#{resource_type.pluralize}_count".to_sym)
  | $("#menu_#{resource_type} .label").html("#{resource_count}");
