.comment{

  margin-top: 20px;

  .comment-user {
    display: block;
    text-align: center;
  }

  .comment-content {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #BBBBBB;
    border-radius: 3px;
  }

}
