/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "selectize";
@import "selectize.bootstrap3";
@import "selectize-semantic-ui";
@import "github-markdown";
@import "highlight/github";
@import "semantic-ui";
@import "sync-highlight";
@import "clndr-rails";
@import "link-style";
@import "projects";
@import "issues";
@import "labels";
@import "notice";
@import "message";

.bs {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "bootstrap-datetimepicker";
}

// disable border-radius of navbar
nav {
  border-width: 0 0 1px;
  border-radius: 0 !important;
}

.navbar-avatar {
  img {
    margin-top: -7px;
    margin-bottom: -5px;
  }
  span {
    padding-left: 5px;
  }
}

body {
  height: 100%;
  background-color: #FFFFFF;
}

body.pushable > .pusher {
  background-color: #FFFFFF;
}

.main.container {
  padding-top: 60px;
}

@media all and (min-width: 768px) {
  .content-without-sidemenu {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .content-without-sidemenu {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .content-without-sidemenu {
    width: 1170px;
  }
}

.content-without-sidemenu {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-with-sidemenu {
  padding: 0 0 0 210px;
  .content-sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    .main.menu {
      height: 100%;
      padding-top: 60px;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.02);
    }
  }

  .content-container {
    padding: 0 30px 30px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .content-with-sidemenu {
    padding: 0 0 0 52px;
    .content-sidemenu {
      .main.menu {
        width: 52px;
        .item {
          padding-bottom: 24px;
          i.icon { padding-right: 19px; }
          span { display: none; }
        }
      }
    }

    .content-container {
      padding: 0 15px 15px 15px;
    }
  }
}

.checkbox, .radio {
  margin-bottom: 4px;
  margin-top: 4px;
}

#comment_content_preview_field {
  min-height: 198px;
}

#post_content_preview_field {
  min-height: 198px;
}

#new_button_grid {
  max-width: 160px;
  .button {
    width: 130px;
  }
}

.page-header {
  h1.header {
    margin-bottom: 0;
    display: inline-block;
  }
  .search-field {
    width: 250px;
    display: inline-block;
    float: right;
  }
  .search-field.divided {
    border-right: 1px solid #eee;
    margin-right: 6px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .page-header {
    .search-field {
      float: none;
      width: 100% !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .search-field.divided {
      padding-right: 0;
      border-right: 0;
    }
  }
}
.ui.list .list > .item .header, .ui.list > .item .sub.header {
  color: rgba(0, 0, 0, 0.5);
}

