/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require selectize
 *= require selectize.bootstrap3
 *= require selectize-semantic-ui
 *= require github-markdown
 *= require highlight/github
 *= require link-style
 *= require projects
 *= require users
 *= require labels
 *= require notice
 *= require overflow
 *= require social
 *= require search
 *= require mention
 *= require login
 *= require jquery.atwho
 *= require bootstrap-scoped
 *= require layout
 *= require_self
 */

 @import "flexbox";
 @import "attachments";
 @import "message";
 @import "sidemenu_notices";
 @import "events";
 @import "comment";
 @import "issues";
 @import "sprints";
 @import "kanban";
 @import "archive";
 @import "poll";
 @import "two-columns";
 @import "channel-setting";

.not_show {
  display: none;
}

.checkbox, .radio {
  margin-bottom: 4px;
  margin-top: 4px;
}

#comment_content_preview_field {
  min-height: 198px;
}

#post_content_preview_field {
  min-height: 198px;
}

#new_button_grid {
  max-width: 160px;
  .button {
    width: 130px;
  }
}

.page-header {
  @include flexbox;
  .search-field, .search-field .field {
    @include flex(1);
  }
  .search-field.divided {
    border-right: 1px solid #eee;
    margin-right: 6px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .page-header {
    .search-field {
      float: none;
      width: 100% !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .search-field.divided {
      padding-right: 0;
      border-right: 0;
    }
  }
}
.ui.list .list > .item .header, .ui.list > .item .sub.header {
  color: rgba(0, 0, 0, 0.5);
}

.img-rounded {
  border-radius: 15px !important;
}

.ui.label.issue-dashboard {
  padding: 0.3em 0.5em;
  margin-left: 0;
  .icon {
    margin-right: 0.4em;
  }
}
