/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "selectize";
@import "selectize.bootstrap3";
@import "selectize-semantic-ui";
@import "github-markdown";
@import "highlight/github";
@import "semantic-ui";
@import "sync-highlight";
@import "clndr-rails";
@import "link-style";
@import "projects";
@import "issues";
@import "labels";
@import "notice";
@import "message";
@import "overflow";
@import "perfect-scrollbar";
@import "social";
@import "search";
@import "flexbox";

.bs {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "bootstrap-datetimepicker";
}

// disable border-radius of navbar
nav {
  border-width: 0 0 1px;
  border-radius: 0 !important;
}
#sidebar-avatar {
  background-color: #F9F9F9;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 15px;
  img {
    border-radius: 5px;
    border: 1px solid rgba(198, 198, 198, 1);
    &:hover {
      cursor: pointer;
    }
  }
  #sidebar-user-name {
    font-size: 14px !important;
  }
}
.navbar-avatar {
  img {
    margin-top: -7px;
    margin-bottom: -5px;
  }
  span {
    padding-left: 5px;
  }
}

body {
  height: 100%;
  background-color: #FFFFFF;
}

body.pushable > .pusher {
  background-color: #FFFFFF;
}

#main_container {
  padding-top: 30px;
}

@media all and (min-width: 768px) {
  .content-without-sidemenu {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .content-without-sidemenu {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .content-without-sidemenu {
    width: 1170px;
  }
}

.content-without-sidemenu {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-with-sidemenu {
  padding: 0 0 0 90px;
  .content-sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    .main.menu {
      height: 100%;
      width: 100px;
      padding-top: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.02);
    }
    .active.item {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
    .active.item:after {
      background-color: rgba(198, 198, 198, 1) !important;
    }
  }

  .content-container {
    padding: 0 30px 10px 30px;
  }
}

.checkbox, .radio {
  margin-bottom: 4px;
  margin-top: 4px;
}

#comment_content_preview_field {
  min-height: 198px;
}

#post_content_preview_field {
  min-height: 198px;
}

#new_button_grid {
  max-width: 160px;
  .button {
    width: 130px;
  }
}

.page-header {
  @include flexbox;
  .search-field {
    @include flex(1);
  }
  .search-field.divided {
    border-right: 1px solid #eee;
    margin-right: 6px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .page-header {
    .search-field {
      float: none;
      width: 100% !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .search-field.divided {
      padding-right: 0;
      border-right: 0;
    }
  }
}
.ui.list .list > .item .header, .ui.list > .item .sub.header {
  color: rgba(0, 0, 0, 0.5);
}
