/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "selectize";
@import "selectize.bootstrap3";
@import "selectize-semantic-ui";
@import "github-markdown";
@import "highlight/solarized";
@import "semantic.css";
@import "sync-highlight";
@import "clndr-rails";
@import "link-style";
@import "projects";
@import "issues";
@import "labels";

.bs {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "bootstrap-datetimepicker";
}

// disable border-radius of navbar
nav {
  border-width: 0 0 1px;
  border-radius: 0 !important;
}

.navbar-avatar {
  img {
    margin-top: -7px;
    margin-bottom: -5px;
  }
  span {
    padding-left: 5px;
  }
}

body {
  height: 100%;
  background-color: #FFFFFF;
}

body.pushable > .pusher {
  background-color: #FFFFFF;
}

.main.container {
  padding-top: 60px;
}

.content-with-sidemenu {
  padding: 0 0 0 210px;
  .content-sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    .main.menu {
      height: 100%;
      padding-top: 60px;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.02);
    }
  }

  .content-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .content-with-sidemenu {
    padding: 0 0 0 52px;
    .content-sidemenu {
      .main.menu {
        width: 52px;
        .item {
          padding-bottom: 24px;
          i.icon { padding-right: 19px; }
          span { display: none; }
        }
      }
    }

    .content-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.checkbox, .radio {
  margin-bottom: 4px;
  margin-top: 4px;
}

#comment_content_preview_field {
  min-height: 198px;
}

#post_content_preview_field {
  min-height: 198px;
}

#new_button_grid {
  max-width: 160px;
  .button {
    width: 130px;
  }
}

#search_input_grid {
  border-right: 1px solid #eee;
}

@media only screen and (max-width: 991px) {
  #search_input_grid {
    border-right: 0;
    width: 100% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

