.preview-partial {

  position: relative;

  .preview-partial-overlay {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,1) 100%); /* W3C */

  }

}
.attachment-drag {
  height: 200px;
}
.attachment-input {
  @include flexbox;
  .attachment-name {
    @include flex(1);
  }
  .attachment-path {
    position: relative;
    margin-left: 10px;
    width: 75px;
    height: 38px;
    overflow: hidden;
    label {
      cursor: pointer;
    }
    input {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      width: 75px;
      height: 38px;
    }
  }
}

#submit_file {
  margin-top: 10px;
  width: 100%;
}

#upload-progress {
  padding: 0 2rem;
}

a.ui.circular.right.floated.icon.basic.button {
  padding: 11px;
}
