.channel-setting-app {
  font-size: 18px;
  .channel-setting-item {
      @include flexbox;
      .channel-setting-item-handle {
        &:hover {
          cursor: pointer;
        }
        margin-right: 1em;
      }
      .channel-setting-item-name {
        @include flex(1);
        font-weight: 700;
      }
  }

}

.channel-unread {
  min-width: 12px !important;
  min-height: 12px !important;
  margin-top: 3px !important;
}

#channel_notice {
  min-width: 12px !important;
  min-height: 12px !important;
  top: 8px;
  left: 68px;
}
