.event-toggle {
  @include flexbox;
  .item {
    @include flex(1);
    text-align: center;
  }
}

.event-list {
  .show-all {
    padding: 30px 0;
    margin-bottom: 10px;
  }
  .show-all.loader {
    position: relative;
    margin: 1rem 0em;
  }
}

.event.card {
  @include flexbox;
  @include flex-flow(row wrap);
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100px;
  min-height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  .thumb {
    @include order(1);
    @include flexbox;
    @include justify-content(center);
    width: 40px;
    img {
      height: 25px;
      width: 25px;
      border-radius: 15px;
    }
  }
  .member {
    img {
      height: 25px;
      width: 25px;
      border-radius: 15px;
      vertical-align: middle;
      margin-right: 4px;
      margin-left: 4px;
    }
  }
  .content {
    @include flex(1);
    @include order(2);
    text-align: left;
    .header {
      margin-top: 4px;
      @include flex(1);
      @include order(1);
      @include flexbox;
      .title {
        @include flex(1);
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
        a, span {
          margin-right: 2px;
        }
      }

    }
    .body {
      margin-top: 5px;
      padding-right: 10px;
      max-height: 35px;
      overflow: hidden;
      span: {
        word-wrap: break-word;
      }
    }
  }
}
