.clndr-grid .event {
  .day-number {
    border-bottom: none !important;
  }
  background-color: rgba(0, 0, 0, 0.10) !important;
}

.clndr-grid .today {
  border: 3px dashed rgba(0, 0, 0, 0.30) !important;
}

.issue.list .item, .issue.list .item:last-child  {
  padding: 1em 1em;
}


.issue-mark {
  margin-right: 10px !important;
}

.issue-app {
  @include flexbox;
  .contents {
    @include flex(1);
    height: calc( 100vh - 40px );
    padding-right: 40px;
    overflow-y: auto;
  }

  .attributes {
    width: 350px;
    margin-bottom: -30px;
    margin-top: -30px;
    margin-right: -30px;
    padding-right: 20px;
    padding-left: 20px;
    height: calc( 100vh - 0px );
    overflow-y: auto;

    .container {
      &:last-child {
        margin-bottom: 10px;
      }
      .block {
        margin-top: 10px;
        .segment {
          border-radius: 0;
        }
        .top.segment {
          padding: 0.5em 1em;
        }
        .datetime-input {
          margin-top: 5px;
        }
      }
    }

  }

}
