.clndr-grid .event {
  .day-number {
    border-bottom: none !important;
  }
  background-color: rgba(0, 0, 0, 0.10) !important;
}

.clndr-grid .today {
  border: 3px dashed rgba(0, 0, 0, 0.30) !important;
}