body {
  height: 100%;
  background-color: #FFFFFF;
}

body.pushable > .pusher {
  background-color: #FFFFFF;
}

#main_container {
  padding-top: 30px;
}

@media all and (min-width: 768px) {
  .content-without-sidemenu {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .content-without-sidemenu {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .content-without-sidemenu {
    width: 1170px;
  }
}

.content-without-sidemenu {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main.fixed.menu {
  height: 100% !important;
  padding-top: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.02);
  .active.item {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .active.item:after {
    background-color: rgba(198, 198, 198, 1) !important;
  }
}

.content-with-sidemenu {
  padding: 0 0 0 90px;

  .content-container {
    padding: 0 30px 10px 30px;
  }
}
.ui.pagination.menu {
  margin-top: 15px;
}
