.link {
  &:hover {
    text-decoration: underline;
  }
}

.simple.link {
  &:hover {
    text-decoration: none;
  }
}

.gray.link {
  color: rgba( 0, 0, 0, 0.5 );
  &:hover {
    color: rgba( 0, 0, 0, 0.8 );
  }
}

.black.link {
  color: rgba( 0, 0, 0, 0.8 );
  &:hover {
    color: rgba( 0, 0, 0, 0.8 );
  }
}

.red.link {
  color: rgba(217, 92, 92, 0.80);
  &:hover {
    color: rgb(217, 92, 92);
  }
}

.bold.link {
  font-weight: bold;
  &:hover {
    font-weight: bold;
  }
}