
.message {
  .ui.icon.buttons .button, .ui.icon.button {
    padding: 0.5em 0.5em 0.5em;
  }
}

.message .control {
  display: none;
}

.message:hover .control {
  display: block;
}

.message > .content > .description {
  max-width: none !important;
  margin-right: 80px;
}

.message .edit-field {
  margin-top: 8px;
  margin-left: 15px;
}

.inline-message {
  margin-top: -5px;
  .avatar {
    visibility: hidden;
    height: 0 !important;
  }
  .content > .header {
    display: none !important;
  }
}

#channel_header {
  padding-bottom: 10px;
}

#message_container {
  position: relative;
  overflow: hidden;
}
