
.message {
  .ui.icon.buttons .button, .ui.icon.button {
    padding: 0.5em 0.5em 0.5em;
  }
}

.message .control {
  display: none;
}

.message:hover {
  .control {
    display: block;
    .ui.icon.button {
      margin-top: 26px;
    }
  }
  .description {
    background-color: rgba(115, 121, 136, 0.05);
  }
}

.message > .content > .description {
  max-width: none !important;
  margin-right: 80px;
  min-height: 2em;
}

.message .edit-field {
  margin-top: 8px;
  margin-left: 15px;
}

.inline-message {
  margin-top: -5px;
  .avatar {
    visibility: hidden;
    height: 0 !important;
  }
  .content > .header {
    display: none !important;
  }
  .message .control {
    .ui.icon.button {
      margin-top: 7px;
    }
  }
}

#channel_header {
  padding-bottom: 10px;
}

#message_container {
  position: relative;
  overflow: hidden;
}
