#global_notice {
  z-index: 99999;
  position: fixed;
  left: 50%;
  top: 50px;
  text-align: center;
  width: 300px;
  margin-left: -150px;
}

@media all and (min-width: 992px) {
  #global_notice {
    width: 500px;
    margin-left: -250px;
  }
}
