
.sprint.list .item, .sprint.list .item:last-child  {
  padding: 1em 1em;
}


.sprint-mark {
  margin-right: 10px !important;
}

.sprint-app {

  @include flexbox;

  .contents, .attributes {
    margin-top: -30px;
    margin-bottom: -10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    height: calc( 100vh );
    overflow-y: auto;
  }
  .contents, {
    @include flex(1);
  }

  .attributes {
    width: 400px;
    padding-left: 15px;
    padding-right: 30px;
    margin-right: -30px;
    .container {
      &:last-child {
        margin-bottom: 10px;
      }
      .block {
        margin-top: 10px;
        .segment {
          border-radius: 0;
        }
        .top.segment {
          padding: 0.5em 1em;
        }
        .progress {
          margin-bottom: 0;
        }
        .datetime-input {
          margin-top: 5px;
        }
      }
    }

  }

}
