.popup-link-avatar img {
  display: inline-block;
  vertical-align: top;
  height: 2.2em;
  margin: 3px 3px auto auto;
  border-radius: 0.2857rem;
}

.label-avatar {
  margin: 2px !important;
}

.card.pending {
  opacity: 0.5;
}
